$font-fam : system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;


$font-fam2 : "Source Serif Pro", serif;

$nav-bg : #f4f6f7;